@font-face {
	font-family: dashicons;
	src: url("./fonts/dashicons.eot");
	src: url("./fonts/dashicons.eot#iefix") format("embedded-opentype"),
		url("./fonts/dashicons.woff2") format("woff2"),
		url("./fonts/dashicons.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

.dashicons,
.dashicons-before:before {
	font-family: dashicons;
	display: inline-block;
	line-height: 1;
	font-weight: 400;
	font-style: normal;
	speak: none;
	text-decoration: inherit;
	text-transform: none;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	width: 20px;
	height: 20px;
	font-size: 20px;
	vertical-align: top;
	text-align: center;
	transition: color 0.1s ease-in;
}

.dashicons-admin-generic:before {
	content: "\f111";
}

.dashicons-tag:before {
	content: "\f323";
}

.dashicons-admin-settings:before {
	content: "\f108";
}

.dashicons-edit-large:before {
	content: "\f327";
}